@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Sentient";
  src: url("../fonts/Sentient-Regular.ttf") format("truetype");
}

@theme {
    --font-satoshi-light: "Satoshi-Light", sans-serif;
    --font-satoshi-regular: "Satoshi-Regular", sans-serif;
    --font-satoshi-medium: "Satoshi-Medium", sans-serif;
    --font-satoshi-black: "Satoshi-Black", sans-serif;
    --font-serif: "Sentient", serif;
}

/* Base Styles */
html,
body {
    @apply w-full scroll-smooth overflow-x-hidden bg-white text-black dark:bg-black dark:text-white transition-colors duration-500 ease-in-out;
}


@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }
}

@layer utilities {
    .filter-invert-and-brighten {
        filter: invert(1) brightness(1);
    }
}

/* Components */
@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    #home {
        h1 {
            @apply text-6xl font-satoshi-light;
        }

        .text-description {
            @apply text-base font-satoshi-light mb-10;
        }

        nav {
            @apply flex gap-4 flex-col;
        }

        nav a {
            @apply relative text-sm font-satoshi-black;
            display: inline-block;
        }

        nav a:hover {
            @apply text-gray-400 transition-colors duration-300 ease-in-out;
        }

        .text-boxes {
            @apply font-satoshi-regular ml-1 text-xs;
        }

        .text-madeby {
            @apply text-xs font-satoshi-medium;
        }
    }

    #loading {
        .text-name {
            @apply text-4xl font-satoshi-medium;
        }

        .text-portfolio {
            @apply text-4xl font-satoshi-light ml-2;
        }
    }
}